<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Users</title>
</head>

<body>
    <h1> Trabalho de PTAS3</h1>
    <H2> principais linguagens:</H2>
   <ul>
    <li>JavaScript </li>
    <li>HTML</li>
    <li> Sql postgress</li>
   </ul>
   <H2> componentes:</H2>
  <ul> 
   <li> Config: conecta ao banco de dados</li> 
   <li> Controler Contem os métodos: Update(atualizar), delete(deletar), create(criar),authentic(autenticar) e find( encontrar o usuário) </li>
  </ul>
  </ul>
  <footer>
    <div> <p> Desenvolvido pela Maylla e Maria Luiza 2023</p></div>
  </footer>
</body>

</html>