<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Users</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <header>
      <center><h1> TRABALHO DE PTAS3</h1></center>
</header>
    <div class="container">
<div class="linguagens">
    <div>
     <div class="grid">
      <div class="lista">
    <h2>PRINCIPAIS LINGUAGENS:</h2>
    <ul class="">
    <li>JavaScript </li>
    <li>HTML</li>
    <li> Sql postgress</li>
   </ul>
      </div>
   <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fuwp%2Fuwp1719002.jpeg&f=1&nofb=1&ipt=a442dc95f59b939a53c366995b8e11307cc2db0e4999f5f7819e6e202b5437da&ipo=images"/>
  </div> 
   <h2> COMPONENTES:</h2>
  <ul> 
   <li> Config: conecta ao banco de dados</li> <br/>
   <li> Controler Contem os métodos: <br/><br/> Update(atualizar)<br/><br/> delete(deletar)<br/><br/> create(criar)<br/><br/> authentic(autenticar)<br/><br/> find( encontrar o usuário)<br/><br/> e createUser (cadastra o usuário) <br/><br/> </li>
  </ul>
  </ul>
  <div> 
    <h2>Rotas e métodos </h2>
    <ul>
      <li> <b>http://localhost:3003/user</b> : <br/><br/> utiliza o método post <br/><br/>-- rota responsável pelo cadastro, utilizando também o createUser</li><br/>
      <li> <b>http://localhost:3003/users</b> : <br/><br/> utiliza o método get <br/><br/>-- rota responsável por encontrar o usuário, utilizando também o FindUser</li><br/>
      <li> <b>http://localhost:3003/user/:id</b> : <br/><br/> utiliza o método delete <br/><br/>-- rota responsável por deletar o usuário, utilizando também o deleteUser</li><br/>
     <li> <b>http://localhost:3003/user/:id</b> : <br/><br/> utiliza o método put <br/><br/>-- rota responsável por atualizar os dados dos usuários , utilizando também updateUser</li><br/>
     <li> <b>http://localhost:3003/user/authenticated</b> : <br/><br/> utiliza o método post <br/><br/>-- rota responsável por autenticar os dados dos usuários (coloca-los), utilizando também   authenticatedUser</li><br/>
    </ul>
  </div>
  </div>
</div>
</div><br/>
   
  <footer>
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <div> <p> Desenvolvido pela Maylla e Maria Luiza 2023</p></div>
  </footer>
</body>

</html>